# Data Science Exercises Notebook

## Introduction
This notebook will cover some basic exercises related to data science using Markdown cells and Python code cells.

## Data Science Languages
The most commonly used languages for data science are:
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
Popular libraries used in data science include:
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras

## Data Science Tools
| Tool           | Description                                    |
|----------------|------------------------------------------------|
| Jupyter        | Interactive computing environment              |
| RStudio        | Integrated development environment (IDE) for R |
| TensorFlow     | Library for deep learning                      |
| Apache Spark   | Cluster-computing framework                    |
| Tableau        | Data visualization tool                        |

## Arithmetic Expression Examples
Here are some examples of arithmetic operations:
- Addition: `3 + 2 = 5`
- Multiplication: `4 * 5 = 20`
- Division: `10 / 2 = 5`

In [1]:
# Addition operation
3+2

5

In [2]:
# Multiplication operation
4*8

32

In [3]:
# Division operation
10/2

5.0

# Multiplying and adding numbers
multiplication = 8 * 2
addition = 1 + 1
multiplication, addition

In [6]:
# Multiplication operation
(8 * 2)+(1+1)

18

# Converting minutes to hours
minutes = 120
hours = minutes / 60
hours

In [8]:
# Converting minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

In [13]:
# Listing objectives
objectives = [
    "Learn Jupyterlite Notebook:",
    "1.- Learn basic data science concepts",
    "2.- Practice using Jupyter notebooks",
    "3.- Familiarize with Markdown and Python code cells"
]
for obj in objectives:
    print(obj)

Learn Jupyterlite Notebook:
1.- Learn basic data science concepts
2.- Practice using Jupyter notebooks
3.- Familiarize with Markdown and Python code cells

## Author
Name: [Marianela VÃ¡squez]